<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">

<div layout:fragment="siteContent">
    <div class="row">
        <div class="col-9 mx-auto">
            <form action="/add-game" method="post">
                <div class="row mt-4">
                    <div class="col-12">
                        <label>NAME:</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input class="form-control" type="text" name="name" placeholder="Insert Name" required>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <label>YEAR:</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input class="form-control" type="number" name="year" placeholder="Insert the year" required>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <label>PRICE:</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input class="form-control" type="text" name="price" placeholder="Insert Price" required>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <label>AUTHOR:</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <select class="form-select" name="authorModel.id">
                            <option th:each="author : ${authors}" th:value="${author.id}"
                                    th:text="${author.fullName + ' / ' + author.status}"></option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <button class="btn btn-success btn-sm">ADD GAME</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</html>